In [6]:
import numpy as np 
x = [1,2,3,4,5]
x

[1, 2, 3, 4, 5]

In [8]:
rand_arr = np.random.rand(len(x))
rand_arr

array([0.07559549, 0.83563935, 0.36618192, 0.47538255, 0.87401291])

In [2]:
#distance
from sklearn.metrics.pairwise import euclidean_distances
euclidean_distances([[2,5]] , [[3,7] , [2,7]])

array([[2.23606798, 2.        ]])

In [1]:
import pandas as pd
org_df = pd.read_excel('online_retail_II.xlsx')
org_df

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
...,...,...,...,...,...,...,...,...
525456,538171,22271,FELTCRAFT DOLL ROSIE,2,2010-12-09 20:01:00,2.95,17530.0,United Kingdom
525457,538171,22750,FELTCRAFT PRINCESS LOLA DOLL,1,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
525458,538171,22751,FELTCRAFT PRINCESS OLIVIA DOLL,1,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
525459,538171,20970,PINK FLORAL FELTCRAFT SHOULDER BAG,2,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
525460,538171,21931,JUMBO STORAGE BAG SUKI,2,2010-12-09 20:01:00,1.95,17530.0,United Kingdom

In [19]:
df = org_df[["StockCode" , "Description" , "Country"]].copy()
df

       StockCode                          Description         Country
0          85048  15CM CHRISTMAS GLASS BALL 20 LIGHTS  United Kingdom
1         79323P                   PINK CHERRY LIGHTS  United Kingdom
2         79323W                  WHITE CHERRY LIGHTS  United Kingdom
3          22041         RECORD FRAME 7" SINGLE SIZE   United Kingdom
4          21232       STRAWBERRY CERAMIC TRINKET BOX  United Kingdom
...          ...                                  ...             ...
525456     22271                 FELTCRAFT DOLL ROSIE  United Kingdom
525457     22750         FELTCRAFT PRINCESS LOLA DOLL  United Kingdom
525458     22751       FELTCRAFT PRINCESS OLIVIA DOLL  United Kingdom
525459     20970   PINK FLORAL FELTCRAFT SHOULDER BAG  United Kingdom
525460     21931               JUMBO STORAGE BAG SUKI  United Kingdom

[525461 rows x 3 columns]

In [22]:
df["Country"] = df["Country"].str.replace(" ", "_")
df["Description"] = df["Description"].str.replace(" ", "_")
df["Country"] = df["Country"].str.lower()
df["Description"] = df["Description"].str.lower()
df

       StockCode                          Description         Country
0          85048  15cm_christmas_glass_ball_20_lights  united_kingdom
1         79323P                   pink_cherry_lights  united_kingdom
2         79323W                 _white_cherry_lights  united_kingdom
3          22041         record_frame_7"_single_size_  united_kingdom
4          21232       strawberry_ceramic_trinket_box  united_kingdom
...          ...                                  ...             ...
525456     22271                 feltcraft_doll_rosie  united_kingdom
525457     22750         feltcraft_princess_lola_doll  united_kingdom
525458     22751       feltcraft_princess_olivia_doll  united_kingdom
525459     20970   pink_floral_feltcraft_shoulder_bag  united_kingdom
525460     21931               jumbo_storage_bag_suki  united_kingdom

[525461 rows x 3 columns]

In [25]:
df["MixedFeatures"] = df["Country"] + " " + df["Description"] + " " + df["StockCode"].astype(str)
df

,StockCode,Description,Country,MixedFeatures
0,85048,15cm_christmas_glass_ball_20_lights,united_kingdom,united_kingdom 15cm_christmas_glass_ball_20_li...
1,79323P,pink_cherry_lights,united_kingdom,united_kingdom pink_cherry_lights 79323P
2,79323W,_white_cherry_lights,united_kingdom,united_kingdom _white_cherry_lights 79323W
3,22041,"record_frame_7""_single_size_",united_kingdom,"united_kingdom record_frame_7""_single_size_ 22041"
4,21232,strawberry_ceramic_trinket_box,united_kingdom,united_kingdom strawberry_ceramic_trinket_box ...
...,...,...,...,...
525456,22271,feltcraft_doll_rosie,united_kingdom,united_kingdom feltcraft_doll_rosie 22271
525457,22750,feltcraft_princess_lola_doll,united_kingdom,united_kingdom feltcraft_princess_lola_doll 22750
525458,22751,feltcraft_princess_olivia_doll,united_kingdom,united_kingdom feltcraft_princess_olivia_doll ...
525459,20970,pink_floral_feltcraft_shoulder_bag,united_kingdom,united_kingdom pink_floral_feltcraft_shoulder_...
525460,21931,jumbo_storage_bag_suki,united_kingdom,united_kingdom jumbo_storage_bag_suki 21931

In [29]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer(stop_words = "english")
df["MixedFeatures"] = df["MixedFeatures"].fillna("")
vector = vectorizer.fit_transform(df["MixedFeatures"])